body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-color: #000000;
}

.nav-link {
    margin-left: 15px;
}

.transparent-box {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    max-width: 700px;
    
}

nav.navbar {
    background-color: #0055A4 !important; /* French Blue */
}

.nav-tabs .nav-link.active {
    background-color: #eeeaca !important;
    border-color: #000000 !important;
}

.nav-tabs {
    border-bottom: none;
}
.btn-danger {
    background-color: #0055A4 !important;
    border-color: #0055A4 !important;
}

.transparent-box {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 60%;
}
