body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-color: #000000;
}

.nav-link {
    margin-left: 15px;
}

.transparent-box {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    max-width: 700px;
    
}

.nav-tabs .nav-link {
    color: white;          /* white text for inactive links */
}

.nav-tabs .nav-link.active {
    color: white;          /* white text for active tab */
    background-color: #dc3545; /* same as your navbar bg-danger */
    border-color: #dc3545 #dc3545 #dc3545; /* match tab borders */
}

.nav-tabs {
    border-bottom: none; /* optional: remove the default underline */
}
